name: Python package

on:
  workflow_dispatch:
  push:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8]
        which_plugin:
          - s3parcp_download
          - s3upload
          - sfn-wdl
          - subprocess

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install miniwdl and test dependencies
      run: pip install miniwdl flake8 mypy
    - name: Install plugin
      run: pip install -e ${{ matrix.which_plugin }}
    - name: miniwdl --version
      run: miniwdl --version
    - name: flake8
      run: flake8 ${{ matrix.which_plugin }}
    - name: mypy
      run: mypy --ignore-missing-imports ${{ matrix.which_plugin }}
    # TODO: tests
    - name: Run subprocess test
      if: ${{ matrix.which_plugin == 'subprocess' }}
      env:
        MINIWDL__SCHEDULER__CONTAINER_BACKEND: subprocess
      run: |
        miniwdl run_self_test
